body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content_holder {
    display: flex;
}

#content_header {
    justify-content: space-around;
    align-items: center;

    height: 150px;
    width: 98%;
    margin: 10px 5px;

    border-style:groove;
}

#header_title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#header_time {
    margin-right: 20px;
}

#content_daily_schedule {
    height: 750px;
    width: 98%;

    border-style: groove;
}