body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content_holder {
    display: flex;
}

#content_header {
    align-items: center;

    height: 150px;
    width: 98%;
    margin: 10px 5px;

    border-style:groove;
}

#header_title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}