* {
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

textarea {
    height: 120px;
    width: 800px;
    resize: none;

    transition-timing-function: ease-in;
}

textarea:hover {
    transition: 0.2s;
    
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
}

textarea::placeholder {
    color:black;
}

button {
    transition-timing-function: ease-in;
}

button:hover {
    cursor: pointer;

    transition: 0.2s;
    border-radius: 5px;
    border-width: 5px;
    border-color: black;
}

button:active {
    background-color: darkgray;
}

.content_holder {
    display: flex;

    box-shadow: 7px 7px 3px gray;
}

#content_header {
    justify-content: space-around;
    align-items: center;

    height: 150px;
    width: 98%;
    margin: 10px 5px;

    border-style:groove;
}

#header_title {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#header_time {
    margin-right: 20px;
}

#content_daily_schedule {
    height: 1500px;
    width: 98%;
    flex-direction: column;

    align-items: center;
    border-style: groove;
}

.schedule_timeslot {
    display: flex;
    height: 180px;
    width: 900px;

    justify-content: center;
    align-items: center;
    margin: 5px;
}

.timeslot_time_label {
    margin-right: 5px;
}

.schedule_timeslot {
    border-style: groove;
    transition-timing-function: ease-in;
}

.schedule_timeslot:hover {
    transition: 0.2s;
    transform: translate(0px, -3px);
    box-shadow: 5px 5px 3px gray;
}
